
body {
    overflow: hidden;
}
.about-background {
    position: relative;
    z-index: 1;
  }
  .about-background:before {
    content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    background-image: url("https://static01.nyt.com/images/2018/10/09/us/09sanfrancisco-1-print/00dirtystreets-02-superJumbo.jpg?quality=90&auto=webp"); /*IMAGE TAKEN FROM THE NYT https://www.nytimes.com/2018/10/08/us/san-francisco-dirtiest-street-london-breed.html*/
    background-size: cover;
    min-height: 85vh;
    opacity: 0.3;
  }
  .about-p {
    color: #97c6d6;
    font-size: 2.3em;
    font-weight: bold;
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 1em;
    position: relative;
    z-index: 1;
  }
  .about-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .about-image {
    margin: auto;
    height: 20em;
    width: 15em;
    object-fit: cover;
    border-radius: 30%;
    animation:fade-in 0.6s 1s cubic-bezier(.39,.575,.565,1.000) both;
    transition: all 0.2s;
  }
  .about-span {
    font-size: 1.7em;
    color: #1ab4e7;
  }
  .earth, .trash {
    border-radius: 0% !important;
  }
  .earth, .trash {
    object-fit: contain;
    height: 23em;
    width: 18em;
  }
  
  @keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}